.container {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 30px;
}

.searchbar{
    width: 100%;
    height: 45px;
    background-color: #191929;
    border: none;
    border-radius: 13px;
    color: white;
    padding: 20px;
}