.user {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background: rgb(181 179 255 / 20%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.image {
  border: 2px solid var(--borderLine);
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userButton {
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 0.593);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}

.adminButton {
  padding: 5px 10px;
  background-color: transparent;
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  pointer-events: none;
}

.adminButton svg {
  font-size: 25px;
  color: #5a70ff;
}

.userButton svg {
  font-size: 19px;
}

.detail span {
  text-transform: capitalize;

}